body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #881313;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.39);
  padding: 30px 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
h1 {
  margin: 0;
  font-size: 32px;
  text-shadow: 0 0 10px black;
}
h6{
  margin-top: 20px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 250px;
  font-size: 16px;
}
.button, button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(2, 94, 130);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.button:hover, button:hover {
  background-color: #076bdd;
}
