html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
  background: url("https://wallpapers.com/images/hd/steam-platform-dark-background-qvssvr7f3j9m2kz0.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 0 0 10px black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 400px;
  padding: 25px;
  background: rgba(8, 8, 8, 0.55);
  border: 1px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(21, 21, 21, 0.041);
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid rgba(255,255,255,0.2);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.info p {
  margin: 6px 0;
  font-size: 18px;
}

.profile-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: center;
}
